@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body{
  padding:0;
  margin:0;
}
.App{
  display: flex;
  background-color: black;
}

.content {
  background-image: url('/public/background.png');
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  padding: 20px;
  width: auto;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0; /* Lower z-index value */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  font-size: 48px;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  text-align: center;
  margin: 0;
  color: #888;
}